@media screen and (max-width:1200px){
    .navigation{
        flex-direction: column;
        height: 115px;
        padding-bottom:55px;
    }

    .nav-left{
        flex-direction: column;
        text-align: center;
        margin:0px;
    }

    .title{
       font-size: 0px;
    }


    .content-right{
        display: none;
    }

    .form-input{
        padding:0px;
        font-size:15px;
        border:2px solid #F757A7;
        border-radius: 40px;
        margin: 0 5px;
        font-family: var(--font1);
    }

    .btn{
        padding: 2px 8px;
        border: 2px solid #F757A7;
        border-radius: 10px;
        font-family: var(--font2);
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .home-article{
        flex-direction: column;
    }

    .home-article-img img{
        object-fit:contain;
    }

    .home-article-content{
        align-self: center;
        padding:0 5px;
        width:100%;
    }
    
    .row{
        flex-direction: column;
    }

    .home-article-img img{
        width:100%;
    }
}